.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
}

.no-data {
  padding: 20px;
  text-align: center;
  color: #666;
}